# Some additional gitignores borrowed from https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Database
*.sqlite

# Flask
.webassets-cache

# IDEs
.idea/
.vs/