{% extends 'layout.html' %}

{% block title %}Stock Info{% endblock %}

{% block content %}
<table class="table table-striped">
    <h2 class="section-title">{{ values.stock.stock_symbol }} - {{ values.stock.company_name }}</h2>

    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Open</th>
        <th scope="col">Close</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
      </tr>
    </thead>
    <tbody>
        {% for item in values.history %}
        <tr>
            <th scope="row">{{item.date}}</th>
            <td>{{item.open}}</td>
            <td>{{item.close}}</td>
            <td>{{item.high}}</td>
            <td>{{item.low}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>


{% endblock %}