{% extends 'layout.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Display Name</th>
        <th scope="col">Created On</th>
        <th scope="col">UserID</th>
        <th scope="col">Transaction</th>
      </tr>
    </thead>
    <tbody>        
        {% for item in values%}
        <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.display_name}}</td>
            <td>{{item.created_on}}</td>
            <td>{{item.user_id}}</td>
            <td>{{item.get_transactions()}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
  <!---
  {% for transaction in transactions %}
   <p>transaction.id</p>
   <p>transaction.fk_portfolio</p>
   <p>transaction.fk_stock_id</p>
   <p>transaction.number_shares</p>
   <p>transaction.purchase_date</p>
   <p>transaction.purchase_price</p>
   <p>transaction.sell_on</p>
   <p>transaction.sell_price</p>
   <p>transaction.transaction_finalized</p>
  {% endfor %}
-->
{% endblock %}