{% extends 'layout.html' %}

{% block content %}

    <h1 class="section-title">{% block title %}User Search{% endblock %} page</h1>

        <form method="get" action="{{ url_for('admin.user_search') }}">
        <div class="form-group">
            <label for="uid">User ID</label>
            <input type="text" name="uid" class="form-control" id="uid">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" class="form-control" id="first-name">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" class="form-control" id="last-name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email">
        </div>
        <button type="submit" class="btn btn-outline-success">Search</button>
        <br><br>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Portfolio</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
{#                    <form action="" method="post">#}
{#                        <input type="hidden" value="{{ user.id }}" name="user-id">#}
{#                        <button type="submit">Portfolio</button>#}
{#                    </form>#}
                    <a href="{{ url_for('db_access.specific_user_portfolios', user_id=user.id) }}">View Portfolios</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

<!--
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Stocks</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <button type="submit">Stocks</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
-->
{% endblock %}

  
  