{% extends 'layout.html' %}

{% block content %}
    <h1>{% block title %}Login{% endblock %}</h1>
    <form method="post">
        <fieldset>
            <label for="email">Email</label>
            <input name="email" id="email" required>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </fieldset>
        <fieldset>
            <input type="submit" value="Login">
        </fieldset>
    </form>
{% endblock %}