{% extends 'layout.html' %}

{% block content %}
    <h1>{% block title %}Register{% endblock %}</h1>
    <form method="post">
        <fieldset>
            <label for="first-name">First Name</label>
            <input name="first-name" id="first-name" required>
        </fieldset>
        <fieldset>
            <label for="last-name">Last Name</label>
            <input name="last-name" id="last-name" required>
        </fieldset>
        <fieldset>
            <label for="email">Email</label>
            <input name="email" id="email" required>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </fieldset>
        <fieldset>
            <input type="submit" value="Register">
        </fieldset>
    </form>
{% endblock %}