{% extends 'layout.html' %}

{% block content %}
    <h1 class="section-title">{% block title %}Register{% endblock %}</h1>
    <div class="form-section">
    <form method="POST">
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" class="form-control" id="first-name" required>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" class="form-control" id="last-name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <p><small><a href="{{ url_for('auth.login') }}">Already have an Account? Sign In.</a></small></p>
        <button type="Register" class="btn btn-outline-success">Submit</button>
        <br><br>
    </form>
</div>
{% endblock %}
